* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2e4869;
}
.block-up {
  padding-top: 50px;
  padding-bottom: 50px;

  .panel {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(122, 135, 122);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
    background: #06264d;
    color: aliceblue;
  }
}

.miner-wrapper {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    .miner__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 80px;
      pointer-events: none;
      cursor: pointer;
      box-shadow: 2px 2px 5px black;

      &.playble {
        pointer-events: all;
      }
      &.miner-open-card {
        background-color: green;
      }
      &.miner-dead {
        background-color: red;
      }
      .miner__bomb {
        width: 80%;
      }
    }
  }
}

.miner-default {
  background-color: rgb(160, 160, 0);
}
