* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-size: 12px;
}
body {
  background-color: #191d3e;

  &.lock {
    overflow: hidden;
  }
}

.wrapper1 {
  position: relative;
  // height: 100%;

  .login {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    opacity: 0;
    overflow: auto;
    z-index: 5;
    background-color: #00ccff1d;
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: fit-content;
    transition: 0.4s;

    .login_form_container {
      position: relative;
      width: 400px;
      height: 470px;
      max-width: 400px;
      max-height: 470px;
      background: #040717;
      border-radius: 50px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 70px;

      .login__close {
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
        right: 30px;
        top: 30px;
        z-index: 7;

        span {
          position: absolute;
          top: 50%;
          left: 0;
          height: 3px;
          background-color: #00ccff;
          width: 100%;

          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .login_form_container::before {
      position: absolute;
      width: 170%;
      height: 170%;
      content: "";
      background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        #ee00ff
      );
      animation: rotate_border 6s linear infinite;
    }
    .login_form_container::after {
      position: absolute;
      width: 170%;
      height: 170%;
      content: "";
      background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        #00ccff
      );
      animation: rotate_border 6s linear infinite;
      animation-delay: -3s;
    }
    @keyframes rotate_border {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .login_form {
      position: absolute;
      content: "";
      background-color: #0c1022;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 50px 40px;
      z-index: 6;
      color: #00ccff;
    }
    h2 {
      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }
    .input_group {
      margin-top: 40px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .input_text {
      width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #00ccff;
      font-size: 20px;
      padding-left: 10px;
      color: #00ccff;
    }
    ::placeholder {
      font-size: 15px;
      color: #00ccff52;
      letter-spacing: 1px;
    }
    .fa {
      font-size: 20px;
    }
    #login_button {
      position: relative;
      width: 300px;
      height: 40px;
      transition: 1s;
      margin-top: 70px;
    }
    #login_button button {
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 10;
      cursor: pointer;
      font-size: 22px;
      letter-spacing: 2px;
      border: 1px solid #00ccff;
      color: #00ccff;
      border-radius: 50px;
      background-color: #0c1022;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    .fotter a {
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
    }
    .glowIcon {
      text-shadow: 0 0 10px #00ccff;
    }
    &.active {
      opacity: 1;
      left: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #00ccff;
  border-bottom: 2px solid #435e78;

  .header__button {
    height: 4.4rem;
    padding: 0 1.6rem;
    background-color: #62d5b2;
    border: none;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #20274b;
    text-transform: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: #89e5ca;
      color: #435e78;

      img {
        opacity: 0.6;
      }
    }

    .button__text {
      margin-left: 8px;
    }
  }
}

.main {
  .block-up {
    padding: 50px;

    .panel {
      padding: 10px;
      border-radius: 10px;
      border: 2px solid rgb(122, 135, 122);
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: fit-content;
      background-color: #242c54;
      color: aliceblue;

      .panel__control {
        width: 100%;
        display: flex;
        gap: 10px;

        .control__start {
          background-color: #59689a;
          border-radius: 10px;
          border: 1px solid rgb(116, 94, 187);
          color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 13px 25px;
          cursor: pointer;
        }

        .control__finish {
          background-color: #59689a;
          border-radius: 10px;
          border: 1px solid rgb(116, 94, 187);
          color: rgb(255, 255, 255);
          font-size: 20px;
          padding: 13px;
          flex: 1;
          cursor: pointer;
        }
      }
    }
  }

  .miner-wrapper {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(116, 94, 187);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #101429;
    border-radius: 2rem;

    .wrapper {
      display: flex;
      gap: 10px;
      justify-content: center;

      .miner__item {
        position: relative;
        border-radius: 1.2rem;
        --gradient-start: rgba(27, 38, 80, 0.75);
        --gradient-end: rgba(41, 59, 122, 0.75);
        background: linear-gradient(
          160.16deg,
          var(--gradient-start) 13.26%,
          var(--gradient-end) 103.43%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        pointer-events: none;
        cursor: pointer;
        box-shadow: 2px 2px 5px black;

        &:hover {
          --gradient-start: #232f58;
          --gradient-end: #3d4f8c;
          box-shadow: inset 0.1rem 0.1rem #4d5b8f80,
            inset -0.1rem -0.1rem #4d5b8f80;
        }

        &.playble {
          pointer-events: all;
        }
        &.miner-open-card {
          background-color: rgb(0, 255, 0);
        }
        &.miner-dead {
          background-color: rgb(255, 0, 0);
        }
        .miner__bomb {
          width: 80%;
        }
        .miner__light {
          width: 130px;
          height: 130px;
          position: absolute;
        }
        .miner__logo {
          width: 54%;
          height: 54%;
          position: absolute;
        }
      }
    }
  }
}
